
RawContent/smile.png


.vs/
*.suo
*.user
*.userosscache
*.sdf
*.cache
*.VC.db
*.VC.opendb
*.sln


.idea/
*.sln.iml
*.Rider/


Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/

Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/RiderLink/

*.uasset
*.umap
*_BuiltData.uasset
*.pdb
*.obj
*.exe
*.log
*.tmp
*.dll
*.lib
*.pch
*.so
*.dylib
*.out
*.app
*.ipa
*.mod

SourceArt/**/*.png
SourceArt/**/*.tga

!Build/**/*.ico
!Build/*/PakBlacklist*.txt

.DS_Store
Thumbs.db
