
RawContent/smile.png


.vs/
*.suo
*.user
*.userosscache
*.sdf
*.cache
*.VC.db
*.VC.opendb
*.sln


.idea/
*.sln.iml
*.Rider/


Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/

Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/RiderLink/

# *.uasset
*.umap
Content/Characters/
Content/StarterContent/
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/multi/
*_BuiltData.uasset
!Content/BP_AmmoPickup.uasset
!Content/UI_HealthBar.uasset
!Content/WBP_AmmoUI.uasset 
Content/Actors/ // esto hace fallar el gitbash
// luego arreglo eso examen 
*.pdb
*.obj
*.exe
*.log
*.tmp
*.dll
*.lib
*.pch
*.so
*.dylib
*.out
*.app
*.ipa
*.mod

SourceArt/**/*.png
SourceArt/**/*.tga

!Build/**/*.ico
!Build/*/PakBlacklist*.txt

.DS_Store
Thumbs.db
